// use node app in terminal to run
html
    head
        link(rel='stylesheet', href= 'https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.css')
    body

        h1 Thanks for submitting your details. One of our team will be in touch!